# Don't push local rendered files in master branch
libs/
**/*.bib
**/*.html
docs/
figures/
tables/
_bookdown_files/
index.Rmd
index.html
_bookdown.yml
_output.yml
_main.Rmd
style.css
toc.css


# Ignore all html files except:
!**/header.html

# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData*
.Ruserdata
.DS_Store
*.rds
*.Rproj

# Bookdown specific files
*.md

*.pdf
*.png

!**/README.md
