# Don't push local rendered files in master branch
libs/
**/*.bib
**/*.html

# Ignore all html files except:
!**/mathjax_header.html

# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
