# Don't push local rendered files in master branch
libs/
**/*.bib
**/*.html
docs/
figures/
tables/
_bookdown_files/

# Ignore all html files except:
!**/header.html

# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds

# Bookdown specific files
*.md

*.pdf
*.png

!**/README.md